services:
  php:
    build:
      context: ./backend/php
      target: base
    volumes:
      - ./backend/src:/var/www/html
    #environment:
      #XDG_CONFIG_HOME: /var/www/html/.config
    restart: "unless-stopped"
    depends_on:
      - mysql

  nginx:
    image: nginx:1.29
    ports:
      - "8080:80"
    volumes:
      - ./backend/src:/var/www/html
      - ./backend/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  mysql:
    image: mysql:8.4
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: warpg
      MYSQL_USER: app
      MYSQL_PASSWORD: pass
    ports:
      - "3306:3306"
    restart: "on-failure"
    volumes:
      - mysql-data:/var/lib/mysql

  redis:
    image: "redis:8.2"

  mailpit:
    image: axllent/mailpit:v1.27
    restart: "unless-stopped"
    ports:
      - "8025:8025" # Web UI
      - "1025:1025" # SMTP port

  frontend:
    build:
      context: ./frontend
      target: build
    ports:
      - "5173:5173" # For Vite dev server
      - "8081:80" # For Nginx production server
    volumes:
      - ./frontend/src:/app
    working_dir: /app
    command: >
      sh -c "npm install && npm run dev -- --host"

volumes:
  mysql-data:
