@font-face {
    font-family: 'aerx_tabletsregular';
    src: url('../font/aerxtabs_memesbruh03-webfont.woff2') format('woff2'), url('../font/aerxtabs_memesbruh03-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --animate-duration: 1.5s;
}

html,
body {
    border: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

html {
    font-family: 'aerx_tabletsregular', monospace;
    font-size: 30px;
    color: white;
    background: black;
}

button {
    font-family: 'aerx_tabletsregular', monospace;
    font-size: 33px;
    background: none;
    color: white;
}

#root {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.modal-background {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);

    .modal {
        max-width: 238px;
        background: black;
        border: 4px solid white;
        padding: 8px;
    }
}

.main-panel {
    .pre-wrapper {
        margin: 0 auto;

        pre {
            font-family: 'aerx_tabletsregular', monospace;
            text-align: left;
            display: inline-block;
            line-height: 23px;
        }
    }
}

.scene-option {
    cursor: pointer;
}