@font-face {
    font-family: 'aerx_tabletsregular';
    src: url('../font/aerxtabs_memesbruh03-webfont.woff2') format('woff2'), url('../font/aerxtabs_memesbruh03-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --animate-duration: 1.5s;
}

html,
body {
    border: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

html {
    font-family: 'aerx_tabletsregular', monospace;
    font-size: 30px;
    color: white;
    background: black;
}

button {
    font-family: 'aerx_tabletsregular', monospace;
    font-size: 33px;
    background: none;
    color: white;
}

#root {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.modal-background {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);

    .modal {
        display: flex;
        align-items: center;
        background: black;
        border: 4px solid white;
        padding: 8px;
    }
}

.modal-common {
    min-width: 200px;
    min-height: 75px;
    max-width: 290px;
}

.modal-loading {
    width: 150px;
    text-align: center;
}

.modal-inventory {
    //min-width: 435px;
    max-width: 530px;

    .inventory-container {
        margin: 5px 15px;

        .inventory-title {
            text-align: center;
            margin-bottom: 12px;

            .inventory-title-text {
                display: inline-block;
                border-top: 2px dashed white;
                border-bottom: 2px dashed white;
            }
        }

        .inventory-items {
            display: flex;
            justify-content: center;
            overflow: auto;
            max-height: 230px;

            table {
                border-spacing: 0;

                td,
                th {
                    padding: 4px;
                }

                th {
                    text-align: left;
                    font-weight: normal;
                    text-decoration: underline;

                    &.name {
                        min-width: 100px;
                        max-width: 200px;
                    }
                }

                tbody {
                    tr:hover {
                        cursor: pointer;
                        background: white;
                        color: black;
                    }

                    td.name {
                        padding-right: 20px;
                    }
                }
            }
        }
    }
}

.main-panel {
    .pre-wrapper {
        margin: 0 auto;

        pre {
            font-family: 'aerx_tabletsregular', monospace;
            text-align: left;
            display: inline-block;
            line-height: 23px;
        }
    }
}

.scene-option {
    cursor: pointer;
}