.user-widget-wrapper {
    display: flex;
    justify-content: flex-end;

    @media only screen and (max-width: 530px) {
        justify-content: center;
    }

    .user-widget {
        display: inline-block;
        position: relative;
    }
}