.user-widget-wrapper {
    display: flex;
    justify-content: flex-end;

    @media only screen and (max-width: 530px) {
        justify-content: center;
    }

    .user-widget {
        display: inline-block;
        position: relative;

        .user-name {
            color: #f3f700;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}